<div class="container">
  <div class="col-sm-10 col-sm-offset-1 col-xs-12 blog-content">
    <% @posts.each do |post| %>
    <div class="col-xs-12">
      <div class="text-center">
        <h2><a target="_blank" href="<%= post.link %>"><%= post.title %></a></h2>
        <h6>posted <%= post.created_at.strftime('%c') %> by <%= post.user.username %></h6>
      </div>

      <div class="text-center">
        <%= link_to "View comments", post_path(post) %>
      </div>
      <br>
    </div>
    <% end %>
  </div>
</div>
