<div class="col-sm-offset-4 col-sm-4 col-xs-12">
  <h2 class="text-center">Forgot your password?</h2>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: {class: "form"}) do |f| %>
    <%= devise_error_messages! %>

    <div class="form-group">
      <%= f.label :login %><br />
      <%= f.text_field :login, autofocus: true, class: "form-control" %>
    </div>
    
    <%= f.submit "Send me reset password instructions", class: "btn btn-primary btn-lg" %>
  <% end %>

</div>
<%= render "admins/shared/links" %>
